* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  display: block;
  margin: 8px;
  padding: 8px;
}

ul {
  margin-bottom: 20px;
}

li {
  list-style: none;
}

button {
  margin: 4px;
  padding: 6px;
}
